
        body{
            font-family: 'montserrat', sans-serif, Verdana, Tahoma;
        }

        .navbar{
            background: #76787a !important;
        } 

        .head{
            padding-top: 10rem;
        }