@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body {
    font-family: 'Inter', sans-serif;
}

input:active {
    outline: none !important;


}

.hidden {
    display: none;
}

input {

    font-family: 'Inter', sans-serif;
}

textarea {
    font-family: 'Inter', sans-serif;
}