body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.split-container {
    display: flex;
    height: 100vh; /* Use full viewport height */
}

.card-section {
    flex: 1;
    background-color: #eeeeee;
    color: #000000; /* White text for the card section */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
}

.logo {
    max-width: 236px; /* Changed to max-width for responsiveness */
    width: 80%; /* Scale based on its container size */
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 55px;
}


.title {
    font-size: 24px; /* Adjust as needed */
    margin-bottom: 10px;
}

.login-section {
    flex: 1;
    background-color: #fff; /* Assuming the login background is white */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    max-width: 500px; /* Adjust as needed */
}

.input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px; /* Space between inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    cursor: pointer;
    width: 100%; /* Full width within the form */
    height: 56px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #181818;
    color: #ffffff;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif; /* Added Arial as a fallback */
    font-weight: 500;
    line-height: 20px;
    outline: none;
}

.login-button:hover {
    background-color: #555;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }

    .card-section, .login-section {
        width: 100%;
        padding: 20px; /* Add some padding on mobile */
    }

    .login-content, .card-content {
        max-width: 100%;
        margin-top: 20px; /* Add some space between the elements */
    }

    .logo {
        max-width: 150px; /* Smaller logo on mobile */
    }
}